{%load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey List</title>
    <!-- Bootstrap core CSS-->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Bootstrap spacelab    -->
    <link href="{%static 'css/yeti.css'%}" rel="stylesheet">
    <!-- menu custom css-->
    <link href="{% static 'css/menu.css'%}" rel="stylesheet">
    <!-- jquery -->
    <script src="{%static 'vendor/jquery/jquery.js'%}"></script>
    <!--Sweet alert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="alert alert-dismissible alert-warning">
  <h4 class="alert-heading">Error!</h4>
  <p class="mb-0">잘못된 페이지 접근 입니다.<a href="/" class="alert-link">다시 되돌아 가시려면 여기를 눌러주세요</a>.</p>
</div>
</body>
</html>