{% load static %}
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start QnS</title>

    <!-- Bootstrap core CSS-->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{%static 'vendor/simple-line-icons/css/simple-line-icons.css'%}" rel="stylesheet">


    <!-- Custom fonts for this template-->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin.css'%}" rel="stylesheet">
    <link href="{%static 'css/stylish-portfolio.css'%}" rel="stylesheet">
    <link href="{%static 'css/index.css'%}" rel="stylesheet">

    <!-- jquery -->
    <script src="{%static 'vendor/jquery/jquery.js'%}"></script>
    <script src="{%static 'vendor/stylish-portfolio.js'%}"></script>
    
    <!--Sweet alert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Do QnS!</h1>
            <h3 class="mb-5">
                <em>Start survey and check subject Favorability</em>
            </h3>
            <div id="scBtn" class="btn btn-primary btn-xl js-scroll-trigger">Start this app</div>
        </div>
        <div class="overlay"></div>
    </header>
<!--    시작     -->
    <div class="myWrapper">
        <div id="professorBtn" class="professorBtn">
        </div>
        <div id="studentBtn" class="studentBtn">
        </div>
<!-- login bootstrap  -->
        <div id="LoginWindow" class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Login
                    <span id="loginClose">&times;</span></div>
                <div class="card-body">
                    <form id="loginForm" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                                {% csrf_token %}
                                <label id="idLabel" for="inputEmail">Email address</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                <label id="pwLabel" for="inputPassword">Password</label>
                            </div>
                        </div>
                        <div id="submitBtn" class="btn btn-primary btn-block" value="Start">Start</div>
                    </form>
                    <div class="text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--dev infomation-->
    <footer class="footer text-center">
        <div class="container">
                                        <span id="kakaoT">gam5546</span>
                                        <span id="gmailT">gam5546@gmail.com</span>
                                        <span id="githubT">https://github.com/BaeKeunBin</span>
            <ul class="list-inline mb-5">
                <li id="kakao" title="gam5546" class="list-inline-item">
                    <div class="social-link rounded-circle text-white mr-3" href="#">
                        <i class="icon-bubble"></i>
                    </div>
                </li>
                <li id="gmail" title="gam5546@gmail.com" class="list-inline-item">
                    <div class="social-link rounded-circle text-white mr-3" href="#">
                        <i class="icon-social-google"></i>
                    </div>

                </li>
                <li id="github" title="https://github.com/BaeKeunBin" class="list-inline-item">
                    <div class="social-link rounded-circle text-white" href="#">
                        <i class="icon-social-github"></i>
                    </div>

                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; Bae Keun Bin 2018</p>
        </div>
    </footer>

</body>
<script>
    /*로그인 시작 버튼*/
    //교수
    $("#professorBtn").click(function() {
        

        $("#LoginWindow").css("display", "block");

        //교수님은 Email - password
        $("#inputEmail").attr("type","email")
        $("#inputPassword").attr("type", "password");
        //기존 값 지우기
        $("#inputEmail").val("");
        $("#inputPassword").val("");
        //알림문자 삽입
        $("#idLabel").html("Email address");
        $("#pwLabel").html("Password");
    });
    //학생
    $("#studentBtn").click(function() {
        $("#LoginWindow").css("display", "block");
        //학생은 이름 - 학번
        $("#inputEmail").attr("type","id")
        $("#inputPassword").attr("type", "id");
        $("#inputEmail").val("");
        $("#inputPassword").val("");
        $("#idLabel").html("이름");
        $("#pwLabel").html("학번");
    });
    $("#loginClose").click(function() {
        $("#LoginWindow").css("display", "none");
    });

    $("#scBtn").click(function() {
        var scmove = $('#professorBtn').offset().top;
        $('html, body').animate({
            scrollTop: scmove
        }, 400);
    });

    $("#submitBtn").click(function(){
    	//교수님 의 로그인 시도일 경우 서버에서 로그인 확인
		let userID = $("#inputEmail").val();
		let userPW = $("#inputPassword").val();

		if(userID =="" || userPW=="")
		{
			swal({
				title : "빈칸이 있어요!",
				text : "빈칸을 모두 채워주세요",
			    icon: "error",
			});
			return;
		}
    	let status = $("#inputEmail").attr("type");
    	if(status == "email"){

	        $.ajax({               
	            type: "POST",                   
	            url: "/userValidation/",               
	            data: {"userID": userID,"userPW":userPW},
	            dataType: "json",                           
	                                                                                                         
	            success: function(response){
	            			console.log("ajax 결과 : "+response.result);
	            			if(response.result == "true")
	            			{
		                        swal("success!","환영합니다.","success").then((value)=>{
		                        	console.log("페이지 이동 ");
		                        	location.href="menu";
		                        })
	            			}
	            			else{
			                        swal("false!","정보가 다릅니다.","error");
	            			}
	                    },
	            error: function(request, status, error){    
	                        // 에러시에 디버깅 내용 포함시키기
	                        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); 
	                        console.log("ajax 실패");
	                    },
	        });
    	}
    	else{
    		let formtag = $("#loginForm");
    		$("#loginForm").submit(); // 학생일 경우 form post
    		// location.href="menu"; // 메뉴 페이지로 이동
    	}

    });

</script>

</html>